.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header a {
  position: relative;
  padding: 16px 0px;
  display: inline-block;
}

.header-menu a::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
  .header-menu a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
